aside {
	float: left;
	height: calc(100vh - 70px);
	width: 100px;
	background-color: rgb(240,240,240);
	color: rgb(100,100,100);
	ul {
		margin-top: 25px;
		padding: 0;
		list-style: none;
		a {
			text-decoration: none;

			&:hover { 
				text-decoration: none;
				underline: none;
			}
		}

		li {
			box-sizing: border-box;
			color: rgb(100,100,100);
			i {
				font-size: 150% !important;
			}
			h5 {
				margin:0;
			}
			padding: calc((100vh - 60px) / 25) 10px;
			text-align: center;

			&.active {
				border-left: 10px solid rgb(100,100,100);
				color: rgb(50,50,50);
			}

		}
	}
	/*
	@media screen and (max-width: 500px) {
		position: fixed;
		bottom: 0;
		right: 0;
		width: 100%;
		margin-top: 80%;
		float: none;
		height: 100px;
		ul {
			margin-top: 5px;
			padding: 5px;
			text-align: center;
			li {
				vertical-align: middle;
				width: 90px;
				height: 100px;
				padding: 5px 20px;
				display: inline-block;
			}
		}
	}*/
}